torch[cpu]>=2.0
PVNet-summation>=0.0.8
pvnet>=2.3.0
ocf_datapipes>=2.0.6
nowcasting_datamodel>=1.5.22
fsspec[s3]
xarray
zarr
numpy
pandas
sqlalchemy
torchdata
pytest
pytest-cov
typer
testcontainers
xesmf
