pydantic
requests<2.32.0
pytorch-lightning==2.3.3
torch @ https://download.pytorch.org/whl/cpu/torch-2.3.1-cp312-none-macosx_11_0_arm64.whl ; platform_system == 'Darwin'
torch @ https://download.pytorch.org/whl/cpu/torch-2.3.1%2Bcpu-cp312-cp312-linux_x86_64.whl ; platform_system == 'Linux'
PVNet-summation==0.3.2
pvnet==3.0.50
ocf_datapipes==3.3.39
ocf_data_sampler==0.0.19
nowcasting_datamodel>=1.5.45
fsspec[s3]
xarray
zarr==2.18.3
numpy
pandas
sqlalchemy
pytest
pytest-cov
typer
testcontainers
xesmf==0.8.7
huggingface-hub==0.24.1
sentry-sdk==2.13.0
